<div class="navbar-height"></div>
    <div class="navbar">
      <div class="contain-burger">
        <div class="burger"></div>
      </div>
      <nav class="nav" routerLink="">
        <img class="pointer" src="assets/logotype.png" alt="Logotype spacex" />
        <a class="navbar-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Accueil</a>
      </nav>
    </div>
    <nav class="vertical-navbar">
      <a class="nav-vertical-link" routerLink="/planets" routerLinkActive="active">
        <span class="fas fa-globe fa-3x"></span>
        <p>Planètes</p>
      </a>
      <a href="#" class="nav-vertical-link">
        <span class="fas fa-rocket fa-3x"></span>
        <p>Véhicules</p>
      </a>
      <a href="#" class="nav-vertical-link">
        <span class="fab fa-reddit-alien fa-3x"></span>
        <p>Personnes</p>
      </a>
    </nav>
